version: '3.6'
services:
  haste-server:
    build: .
    image: hastepad:0.8.2
    ports:
      - 7777:7777
    tmpfs:
      - /usr/src/app/data:mode=770,size=128m,uid=1000,gid=1000
    logging:
      driver: "json-file"
      options:
        max-size: "1M"
        max-file: "10"
